#bgimage {
	background-image: url("../../images/croppedwallbg.png");
	height: 100vh;

}

#bgimage1 {
	background-image: url("../../images/croppedfooterbg.png");
	height: 20vh;
}

body {
	background-image: url("../../images/croppedwallbg.png");
	/*background: hsla(46, 29%, 53%, .6) !important;*/
}

body {
	font-family: 'Raleway', sans-serif !important;
}

