#bgimage {
	background-image: url("../../images/steinar-engeland-157884.jpg");
	height: 100vh;

}

#bgimage1 {
	background-image: url("../../images/steinar-engeland-157884.jpg");
	height: 30vh;
}

body {
	background-image: url("../../images/steinar-engeland-157884.jpg");
	/*background: hsla(46, 29%, 53%, .6) !important;*/
}

