html, body {
	height: 100%;
	width: 100%;
	background-image: url("../../images/croppedwallbg.png");
	background-attachment: fixed;

}

#bgimage {
	background-image: url("../../images/croppedwallbg.png");
	height: 90vh;
	min-width: 100%;
	background-attachment: fixed;
}

.services {
	background-image: url("../../images/croppedwallbg.png");
	/*min-height: 80vh;*/
	background-attachment: fixed;
	}

	/*.services1 {*/
	/*height:90vh;*/
	/*}*/

	/*body > div.services > div.container-fluid.d-flex {*/
	/*height: 90vh;*/
	/*}*/



/*#bgimage1 {*/
	/*background-image: url("../../images/croppedwallbg.png");*/
	/*height: 15vh;*/
/*}*/

body {
	/*background-image: url("../../images/croppedwallbg.png");*/
	/*background: hsla(46, 29%, 53%, .6) !important;*/
}

body {
	font-family: 'Raleway', sans-serif !important;
}

.portfoliocontainer {
	justify-content: center;
	/*opacity: 0.5;*/
}

.portfoliocontainer1 {
	background-image: url("../../images/croppedwallbg.png");
	background-attachment: fixed;
	height: auto;
}

.portfolioheader {
	/*opacity: 0.5;*/
}

.contacts {
	background-image: url("../../images/croppedwallbg.png");
	background-attachment: fixed;
}

.dividerbg {
	/*background-image: url("../../images/croppedwallbg.png");*/
	background-attachment: fixed;
	height: 13vh;
}
.dividerbgsmall {
	/*background-image: url("../../images/croppedwallbg.png");*/
	background-attachment: fixed;
	height: 3rem;
}

figure {
	background-color: rgba(244,240,224, 0.4);
}

.secheader {
	/*background-color: rgba(244,240,224, 0.4);*/
	/*border: solid;*/
	/*border-color: #EC8D0C;*/
}

.carousel-item > img {
	margin: auto;
	width: 40%;
	max-height: 80vh;
}
.dividerbgsmall1 {
	/*background-image: url("../../images/croppedwallbg.png");*/
	background-attachment: fixed;
	height: 3rem;
}

/*@media screen and (max-width: 425px) and (orientation: portrait) {*/
	/*#carouselExampleIndicators {*/
		/*display: none;*/
	/*}*/
	/*.carousel-item, .carousel-control-next, .carousel-control-prev, .carousel-control-next-icon, .carousel-control-prev-icon {*/
		/*display: none;*/
	/*}*/
/*}*/

/*.portfoliocontainer {*/
	/*display: none;*/
/*}*/

/*@media screen and (max-width: 425px) and (orientation: portrait) {*/
	/*.portfoliocontainer {*/
		/*display: unset;*/
	/*}*/
/*}*/

.navbar {
	background-color: #EC8D0C;
	height: 10vh;
}

.nav-link {
	text-decoration: underline;
	font-weight: bold;
	color: #5C280E !important;
}

footer {
	background-color: #EC8D0C;
}

#splash {
	height: auto;
}

.techheader {
	background-color: rgba(244,240,224, 0.4);
}

@media only screen and (max-width: 386px) and (orientation: portrait) {
	.contactcol {
		display: none;
	}
}

@media only screen and (max-width: 712px) and (orientation: landscape) {
	.contactcol {
		display: none;
	}
}


@media only screen and (min-width: 386px) and (orientation: portrait) {
	.contactsmall {
		display: none;
	}
}

@media only screen and (min-width: 712px) and (orientation: landscape) {
	.contactsmall {
		display: none;
	}
}

#footerlink {
	color: #5C280E !important;
	text-decoration: underline;
}



